@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
#Homehead{
    font-size: 40px;
    font-weight: Bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(17, 50, 62);
    position: relative;
    bottom: 500px;
    text-align:left;
    margin-left: 20px;
    color: rgb(154, 70, 70);
}