@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
#Homehead{
    font-size: 30px;
    font-weight: Bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(17, 50, 62);
    position: relative;
    bottom: 500px;
    /* text-align:center; */
    margin-left: 20px;

}